
body{
    
    background-color: rgb(50, 0, 97);
}

h1{

    font-size: 70px;
    padding-top: 350px;
    margin-left: 360px;
    padding-right: 50px;
    padding-bottom: 60px;
}

a{

    color: rgb(167, 3, 11);
font-size: 30px;
    margin-left: 270px;

}