<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<title>New</title>


</head>

<body>



<!-- //style tags -->

<style>



#form{

position: absolute;
margin-top: 12%;
margin-left: 9%;


}


#title{
position: absolute;
margin-top: 8%;
margin-left: 10%;
border: 2px solid black;
text-align: center;
padding: 1rem;
background-color: black;
color:yellow;

}

#inp{
    width:20rem;
}
</style>
<!-- ******************************** -->

	                           <!-- Navbar  -->
    <!-- ================================================================ -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

	<div class="ui fixed inverted menu">
		<div class="ui container" id="navc">
			<div class="header item">
				<i class="rss icon" style="color: yellow;"></i>Blog Buddy
			</div>
			<a class="item" href="/blogs">Home</a>
			<!-- <a class="item" href="/blogs/new">New Post</a> -->
			<a class="item" href="/login">Login</a>
			<a class="item" href="/register">Sign Up</a>
			<a class="item" href="/logout">Logout</a>
		</div>
  
</div>
	
	<!-- *********************** Navbar Ends***************************************** -->

<!-- ********************************************* -->
<!-- //form part -->
    <div id="mainContainer" class="container mt-5">
		<h1 id="title">
			Add New Blog
		</h1>
		<form action="/blogs" id="form" method="POST">
		
			<div  class="mt-5">
				<input id="inp" autocomplete="off" id="input_title"  class="border-2 border-dark" type="text" name="Title" placeholder="Title Of Post">
			</div>
			
			<div  class="mt-3 ">
				<input id="inp" autocomplete="off" id="input_image" type="text" class="border-2 border-dark" name="Image" placeholder="Image For Post">
			</div>
			
			<div  class="mt-3">
			<input id="inp"  autocomplete="off" id="input_des" type="text" name="Description" class="border-2 border-dark" placeholder="Description Of Post">	
			</div>
			   
			
			<div  class="mt-3">
				<input autocomplete="off" id="input_des" type="hidden" name="uid" class="border-2 border-dark" value="<%=cu._id%>">	
				</div>

				<div  class="mt-3">
					<input autocomplete="off" id="input_des" type="hidden" name="uname" class="border-2 border-dark" value="<%=cu.username%>">	
					</div>

			<div style="margin-left: 30%;">
		<input type="submit" class="btn btn-dark" style="color: yellow;">
			</div>
			
		</form>
	
	</div>
</body>

</html>
