<!DOCTYPE html>
<html>
<head>

    <title>SIGN UP</title>    
    <link  rel="stylesheet" type="text/css" href="/stylesheet/sign.css">

</head>

<body>



    <div class="display ">

        <h1>SignUp Form !!</h1>


        <div class="input">
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>Submit</button>
            </form>
        </div>
    </div>

    
    <div class="nav">

        <li><a href="http://127.0.0.1:5500/Home%20Page/Home%20page.html" style="color: rgb(7, 97, 70);">HOME</a></li>
        <li><a href="/blogs" style="color: rgb(81, 2, 88);">BLoGs!</a></li>
        <li><a href="/login" style="color: chartreuse;">Login!</a></li>
        <li><a href="/logout" style="color: rgb(68, 0, 255);">Logout!</a></li>

    </div>

        



</body>
</html>




