
<!DOCTYPE html>
<html>
<head>

    <title>Wrong Entry</title>    
    <link  rel="stylesheet" type="text/css" href="/stylesheet/shut.css">

</head>

<body>

        
        <h1 style="color:rgb(179, 39, 4);">You Are Not The Author Of this Route</h1>
        <a href="/" style="color: rgb(43, 226, 52);" >Back To Home Page</a>
        <a href="/login" style="color: rgb(43, 226, 226);">Login</a>
        <a href="/register" style="color: rgb(255, 251, 0);" >Sign Up</a>
        <a href="/logout" style="color: rgb(205, 43, 226);">Logout</a>


</body>
</html>



